
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Authentication

<a asp-controller="Company" asp-action="ListUsers" class="btn btn-danger">List Users</a>
<a asp-controller="Product" asp-action="CreateProduct" class="btn btn-danger">Create Product</a>
<a asp-controller="Category" asp-action="CreateCategory" class="btn btn-danger">Create Category</a>
<a asp-controller="Company" asp-action="CreateEmployee" class="btn btn-danger">Create Employee</a>
<a asp-controller="Product" asp-action="ListProducts" class="btn btn-danger">List Products</a>


<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dt>@claim.Value</dt>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dt>@prop.Value</dt>
    }
</dl>


