@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link href="~/css/addContainer.css" rel="stylesheet" />
}

<h1>CreateProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <input type="button" id="Create" value="Create" class="btn btn-primary" />
        <button type="button" class="btn btn-primary" id="addProp">Add Property</button>
        <button type="button" class="btn btn-primary" id="addSub">Add Sub Category</button>
        <form class="props">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="Name_name" class="form-control propertiesname" value="Name" disabled />
                <input id="Name_val" class="form-control propertiesvalue" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Is Main Category</label>
                <input id="isMain_name" class="form-control" value="Is Main Category" disabled />
                <input id="isMain_val" type="checkbox" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form class="subs">
        </form>
    </div>


</div>

@section Scripts{
    <script src="~/js/addCategory.js"></script>
}

